// body{
//     background:url("./one.gif");
//     #app{
//         font-size:100px;
//     }
// }

body{
    background:#ddd;
    .jsx{
        color:blue;
        font-size:60px;
    }
}